/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estrutura */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* adicione um espacamento entre o logo e os links */
/* centralize o cabeçalho */
/* adicione um espacamento interno de 20px */
/* adicione uma cor de fundo #d6d6d6 */
/* adicione uma cor de texto #fff */
header {
  position: sticky;
  top: 0;
  z-index: 1;

  /* aqui vai o restante dos estilos */
}

/* adicione um espacamento entre os links */
header nav ul {}

/* remove o estilo de lista */
header nav ul li {}

/* adicione um efeito de sublinhado */
header nav ul li:hover {}

/* remova o underline */
/* adicione a cor de texto #fff */
header nav ul li a {}

/* adicione uma altura minima de 100vh */
main {}

/* adicione um espacamento interno de 20px */
/* adicione uma cor de fundo #d6d6d6 */
/* adicione uma cor de texto #fff */
/* alinhe o texto ao centro */
footer {
  position: sticky;
  bottom: 0;
  z-index: 1;

  /* aqui vai o restante dos estilos  */
}